<div ng-controller="AuthenticationController">
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 login-form-bg">
        <h3 class="text-center title">Login</h3>
        <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
                <alert type="danger" ng-show="error" class="text-center text-danger">
                    <span ng-bind="error"></span>
                </alert>
                <div class="form-group" show-errors>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                          </span>
                        <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
                    </div>
                    <div ng-messages="userForm.username.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Username is required.</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                        <i class="glyphicon glyphicon-asterisk"></i>
                      </span>
                        <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
                    </div>
                    <div ng-messages="userForm.password.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Password is required.</p>
                    </div>
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign in</button>
                </div>
                <div class="forgot-password">
                    <a ui-sref="password.forgot">Forgot your password?</a> &nbsp;Or&nbsp;
                    <a ui-sref="authentication.signup">Sign up</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
